Package: com.evilintent1on.amzz
Name: DYSecondaryConfirmation
Version: 0.1-2
Architecture: iphoneos-arm
Maintainer: Evilintent1on
Author: Evilintent1on
Section: Tweaks
Priority: optional
Depends: firmware (>= 14.0), mobilesubstrate
Homepage: https://github.com/Evilintent1on/dyzy
