Package: com.evilintent1on.amzz
Name: AMZZ
Version: 2.0.0
Architecture: iphoneos-arm
Maintainer: Evilintent1on
Author: Evilintent1on
Section: Tweaks
Priority: optional
Description: 抖音多功能插件：二次确认 + 隐藏好友
Depends: firmware (>= 14.0), mobilesubstrate
Homepage: https://github.com/Evilintent1on/AMZZ
