Package: com.jijiang.dysecondaryconfirmation
Name: DYSecondaryConfirmation
Version: 2.0.0
Architecture: iphoneos-arm
Description: 抖音点赞、收藏、关注及评论赞踩二次确认插件
Maintainer: JiJiang778
Author: JiJiang778
Section: Tweaks
Priority: optional
Depends: firmware (>= 14.0), mobilesubstrate
Homepage: https://github.com/jijiang2333/DYSecondaryConfirmation
